body, p, td{
  font-family: Helvetica;
  font-size: 11px;
}
h1, h2, h3, h4, h5, h6 {
  margin: 25px 0;
  padding: 0;
}
h1, h2{
  font-weight: bold;
}
h3, h4, h5, h6{
  font-size: 12px;
  font-weight: bold;
}
h1{
  font-size: 20px;
}
h2{
  font-size: 18px;
}
h3{
  font-size: 14px;
}
